@import "../css/typography.css";
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  line-height: 1.45em;
}

.Hero {
  background: url('../images/rays.png');
  background-color: black;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  position: relative;
}

.HeroGroup {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
  min-height: 600px;
  width: 800px;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.HeroGroup h1 {
  margin: 0;
  font-size: 12rem;
  font-family: Agrandir, sans-serif;
  text-transform: uppercase;
}

.HeroGroup h1:first-child {
  position: relative;
  top: 14rem;
  z-index: 0;
}

.HeroGroup h1:last-child {
  position: relative;
  bottom: 5rem;
}

.HeroGroup img {
  max-width: 100%;
  position: relative;
  top: 2.5rem;
}

.CubeGroup {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  /* z-index: 100; */
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "a b" "c d";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.CubeGroup img {
  align-self: center;
  justify-self: center;
}

.CubeGroup img:nth-child(1) {
  grid-area: a;
  align-self: flex-start;
  position: relative;
  top: 30%;
}

.CubeGroup img:nth-child(2) {
  grid-area: b;
  position: relative;
  top: 5%;
  left: 20%;
}

.CubeGroup img:nth-child(3) {
  grid-area: c;
}

.CubeGroup img:nth-child(4) {
  grid-area: d;
  align-self: flex-end;
}

@media(max-width:640px) {
  .Hero {
    background-size: 350%;
    background-position: top;
  }
  .HeroGroup {
    width: 100%;
    border: none;
    padding: 0;
  }
  .HeroGroup h1 {
    font-size: 5.5rem;
  }
  .HeroGroup h1:first-child {
    top: 10rem;
  }
  .HeroGroup h1:last-child {
    bottom: 8rem;
  }
  .HeroGroup img {
    max-width: 80%;
    margin: 0;
    top: .5rem;
    left: 2rem;
  }
  .CubeGroup {
    grid-template-columns: 1fr;
    grid-template-areas: " a " " b " " c" " d ";
  }
  .CubeGroup img:nth-child(1) {
    grid-area: a;
    top: 20%;
    left: -20%;
  }
  .CubeGroup img:nth-child(2) {
    display: none;
  }
  .CubeGroup img:nth-child(3) {
    display: none;
  }
  .CubeGroup img:nth-child(4) {
    display: none;
  }
}